<H3> Question 1 </H3>
<H5>How-to-count-distance-to-the-previous-zero 
For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position
Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column "Y"
</H5>

In [26]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [30]:
x = (df['X'] != 0).cumsum()

In [31]:
x

0    1
1    2
2    2
3    3
4    4
5    5
6    6
7    6
8    7
9    8
Name: X, dtype: int32

In [32]:
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()

In [34]:
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

<H3> Question 2 </H3>
<H5> a.) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers. </H5>

In [43]:
import numpy as np

In [44]:
Dtime = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')

In [45]:
Dtime

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [46]:
len(Dtime)

261

In [47]:
s = pd.Series(np.random.rand(len(Dtime)), index=Dtime)

In [48]:
s

2015-01-01    0.592591
2015-01-02    0.707237
2015-01-05    0.630962
2015-01-06    0.026628
2015-01-07    0.139964
2015-01-08    0.909572
2015-01-09    0.763278
2015-01-12    0.693287
2015-01-13    0.859218
2015-01-14    0.576314
2015-01-15    0.409731
2015-01-16    0.865174
2015-01-19    0.047008
2015-01-20    0.144199
2015-01-21    0.406385
2015-01-22    0.643531
2015-01-23    0.501760
2015-01-26    0.333473
2015-01-27    0.780375
2015-01-28    0.900567
2015-01-29    0.194047
2015-01-30    0.318239
2015-02-02    0.948679
2015-02-03    0.913062
2015-02-04    0.332316
2015-02-05    0.086307
2015-02-06    0.931279
2015-02-09    0.306761
2015-02-10    0.888548
2015-02-11    0.428709
                ...
2015-11-20    0.574217
2015-11-23    0.036140
2015-11-24    0.517875
2015-11-25    0.599092
2015-11-26    0.488579
2015-11-27    0.518804
2015-11-30    0.281383
2015-12-01    0.653063
2015-12-02    0.235200
2015-12-03    0.607542
2015-12-04    0.075835
2015-12-07    0.997541
2015-12-08    0.858804
2015-12-09    0.516765
2015-12-10    0.745381
2015-12-11    0.315375
2015-12-14    0.564777
2015-12-15    0.277931
2015-12-16    0.685622
2015-12-17    0.464310
2015-12-18    0.960272
2015-12-21    0.283389
2015-12-22    0.555845
2015-12-23    0.213932
2015-12-24    0.360278
2015-12-25    0.371686
2015-12-28    0.726461
2015-12-29    0.551024
2015-12-30    0.598634
2015-12-31    0.615179
Freq: B, Length: 261, dtype: float64

<H5> 2 b. Find the sum of the values in s for every Wednesday</H5>

In [49]:
s[Dtime.weekday == 2].sum()

26.601961696487127

<H5> 2c.) Average For each calendar month </H5>

In [50]:
s.resample('M', how='mean')

C:\Users\ARVIND\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  """Entry point for launching an IPython kernel.

2015-01-31    0.520161
2015-02-28    0.583008
2015-03-31    0.467890
2015-04-30    0.489089
2015-05-31    0.500038
2015-06-30    0.537526
2015-07-31    0.463713
2015-08-31    0.505420
2015-09-30    0.505663
2015-10-31    0.509257
2015-11-30    0.421610
2015-12-31    0.531950
Freq: M, dtype: float64

<H5> 2d.)For each group of four consecutive calendar months in s, find the date on which the
highest value occurred. </H5>

In [51]:
s.groupby(pd.TimeGrouper('4M')).idxmax()

C:\Users\ARVIND\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

2015-01-31   2015-01-08
2015-05-31   2015-03-10
2015-09-30   2015-09-11
2016-01-31   2015-12-07
dtype: datetime64[ns]